*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
h1{
    margin-bottom: 20px;
    top:10px;
    position: relative;
}
#convertBtn{
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
#result{
    margin-top: 20px;
    font-size: 18px;
    color:black;
}